<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>{{ movie.title }} - ConSolo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/lib/jquery-jsonview/dist/jquery.jsonview.css'>
	<link rel='stylesheet' href='/lib/video.js/dist/video-js.min.css'>
	<link rel='stylesheet' href='/lib/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.css'>
	<link rel='stylesheet' href='{{ app.request.basePath }}/css/movie.css'>
</head>
<body>
	<!-- partial:index.partial.html -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">ConSolo</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Files</a></li>
					<li><a href="#links" aria-controls="links" role="tab" data-toggle="tab">Links</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">About</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
				</form>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">ConSolo</a>
				</div>
				<ul class="nav nav-sidebar" style="padding-top: 40px">
					<li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Details <span class="sr-only">(current)</span></a></li>
					<li><a href="/movies">Movies</a></li>
					<li><a href="/tv">TV Shows</a></li>
					<li><a href="/files">Files</a></li>
					<li><a href="/music">Music</a></li>
					<li><a href="/emulation">Emulation</a></li>
					<li><a href="#json" aria-controls="json" role="tab" data-toggle="tab">JSON Data View</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="/genres">Genres</a></li>
					<li><a href="/companies">Production Companies</a></li>
					<li><a href="/collections">Collections</a></li>
					<li><a href="/people">People</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home">
						{% block content %}
						{% endblock %}					
					</div>
					<div role="tabpanel" class="tab-pane fade" id="json">
					</div>
					<div role="tabpanel" class="tab-pane fade" id="links">
						<h3>Links</h3>
						<ul class="list-group">
							<li class="list-group-item"><a href="https://getbootstrap.com/docs/3.4/css/" target="_blank">BootStrap Docs</a></li>
							<li class="list-group-item"><a href="https://github.com/yesmeck/jquery-jsonview" target="_blank">jQuery JSONView</a></li>
							<li class="list-group-item"><a href="https://www.themoviedb.org/tv/63174-lucifer" target="_blank">TV Example</a></li>
							<li class="list-group-item"><a href="https://www.themoviedb.org/person/515-glenn-close" target="_blank">Person Example</a></li>
							<li class="list-group-item"><a href="https://www.themoviedb.org/movie/11674-101-dalmatians/cast" target="_blank">Movie Cast Example</a></li>
							<li class="list-group-item"><a href="https://www.themoviedb.org/genre/35-comedy/movie" target="_blank">Comedy Genre Movie List Example</a></li>
							<li class="list-group-item"><a href="https://twig.symfony.com/doc/3.x/templates.html" target="_blank">Twig Templating Docs</a></li>
							<li class="list-group-item"><a href="{{ app.request.basePath }}/themoviedb-vue.html" target="_blank">Vue.JS TheMovieDB</a></li>
							<li class="list-group-item"><a href="{{ app.request.basePath }}/themoviedb-list.html" target="_blank">TheMovieDB List</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- partial -->
	<script src='/lib/jquery/dist/jquery.min.js'></script>
	<script src='/lib/bootstrap/dist/js/bootstrap.min.js'></script>
	<script src='/lib/jquery-jsonview/dist/jquery.jsonview.js'></script>
	<script src='/lib/video.js/dist/video.min.js'></script>
	<script src='/lib/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js'></script>    
	<script src='/lib/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js'></script>	
	<script src='{{ app.request.basePath }}/js/movie.js'></script>
</body>
</html>
