{% extends "shared/emubase.twig" %}

{% block content %}
<table class="table table-striped table-bordered" style="width:100%">
<tbody>
    <tr>
        <th>ID</a></td>
        <td>{{ data.id }}</td>
    </tr>
    <tr>
        <th>Short Name</a></td>
        <td>{{ data.shortName }}</td>
    </tr>
    <tr>
        <th>Name</a></td>
        <td>{{ data.name }}</td>
    </tr>
    <tr>
        <th>Description</a></td>
        <td>{{ data.description }}</td>
    </tr>
{% if data.logo is defined %}
    <tr>
        <th>Logo</td>
        <td><img src="{{ data.logo }}" alt="logo" style="max-width: 300px;max-height: 200px;"></td>
    </tr>
{% endif %}
{% if data.screenshot is defined %}
    <tr>
        <th>Screenshot</td>
        <td><img src="{{ data.screenshot }}" alt="screensot" style="max-width: 640px;max-height: 480px;"></td>
    </tr>
{% endif %}
    <tr>
        <th>Platforms</a></td>
        <td>
            {% for platform in data.platforms %}
            <a href="/platform/{{ platform }}"><span class="label label-primary">{{ platform }}</span></a><br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Matches</a></td>
        <td>
            {% for source, values in data.matches %}
            {% for match in values %}
            <a href="/source/{{ source }}"><span class="label label-primary">{{ source }}</span></a> <span class="label label-info">{{ match }}</span><br>
            {% endfor %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Author</a></td>
        <td>{{ data.author }}</td>
    </tr>
    <tr>
        <th>License</a></td>
        <td>{{ data.license }}</td>
    </tr>
    <tr>
        <th>Binary</a></td>
        <td>
            {% for bin in data.bin %}
            <span class="label label-primary">{{ bin }}</span><br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Directory</a></td>
        <td>
            {% for dir in data.dir %}
            <span class="label label-primary">{{ dir }}</span><br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Command Line</a></td>
        <td>
            {% for cmd in data.cmd %}
            {{ cmd }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Links</a></td>
        <td>
            {% for url, text in data.web %}
            <a href="{{ url }}"><b>{{ text }}</b> - {{ url }}</a><br>
            {% endfor %}
        </td>
    </tr>
<!-- ext extensions -->
{% if data.ext is defined %}
    <tr>
        <th>Extensions</a></td>
        <td>
            {% for ext in data.ext %}
            <span class="label label-info">.{{ ext }}</span>
            {% endfor %}
        </td>
    </tr>
{% endif %}
{% if data.versions is defined %}
    <tr>
        <th>Downloads</a></td>
        <td>
            <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Download</th>
                    <th>ChangeLog</th>
                    <th>OS</th>
                    <th>OS Version</th>
                    <th>Bits</th>
                    <th>Date</th>
                    <th>Bin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for versionId, versionData in data.versions %}
                <tr>
                    <td>{{ versionId }}</td>
                    <td><a href="{{ versionData.url }}">Download</a></td>
                    <td><a href="{{ versionData.changes }}">ChangeLog</a></td>
                    <td>{{ versionData.os }}</td>
                    <td>{{ versionData.os_ver }}</td>
                    <td>{{ versionData.bits }}</td>
                    <td>{{ versionData.date }}</td>
                    <td>{{ versionData.bin }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </td>
    </tr>
{% endif %}
</tbody>
</table>
{% if matches|length > 0 %}
<table class="table table-striped table-bordered" style="width:100%">
<tbody>
    {% for source, values in matches %}
    {% for matchId, match in values %}
    <tr>
        <th>{{ source }}</th>
        <th>{{ matchId }}</th>
        <td><pre>{{ match }}</pre></td>
    </tr>
    {% endfor %}
    {% endfor %}
</tbody>
</table>
{% endif %}
<script>
$(document).ready(function () {
    $('#datatable').DataTable({
        paging: false
    });
});
</script>
{% endblock %}
