{% extends "shared/mediabase.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Platforms</h2>
    </div>
</div>
<div class="row">
    <div id="layout-wrapper" class="col-sm-9 col-md-8 col-lg-7">
        <div id="layout-label">
            <strong>Layout</strong>
        </div>
        <div id="layout-group" class="btn-group" role="group" aria-labelledby="layout-label">
            <button type="button" class="btn btn-sm btn-default" data-layout="bare">Bare</button>
            <button type="button" class="btn btn-sm btn-default" data-layout="small">Small</button>
            <button type="button" class="btn btn-sm btn-default" data-layout="medium">Medium</button>
            <button type="button" class="btn btn-sm btn-default" data-layout="large">Large</button>
            <button type="button" class="btn btn-sm btn-default active" data-layout="full">Full</button>
            <button type="button" class="btn btn-sm btn-default" data-layout="table">Table</button>
        </div>
    </div>
    <div id="sort-wrapper" class="col-sm-4 col-md-3 col-lg-3">
        <div id="sort-label">
            <strong>Sort By</strong>
        </div>
        <div id="sort-group" class="btn-group" role="group" aria-labelledby="sort-label">
            <button type="button" class="btn btn-sm btn-default active" data-sort-by="name">Name</button>
            <button type="button" class="btn btn-sm btn-default" data-sort-by="company">Rating</button>
            <button type="button" class="btn btn-sm btn-default" data-sort-by="date">Date</button>
        </div>
    </div>
    <div id="sort-dir-wrapper" class="col-sm-3 col-md-2 col-lg-2">
        <div id="sort-dir-label">
            <strong>Sort Dir</strong>
        </div>
        <div id="sort-dir-group" class="btn-group" role="group" aria-labelledby="sort-dir-label">
            <button type="button" class="btn btn-sm btn-default active" data-sort-dir="asc">Up</button>
            <button type="button" class="btn btn-sm btn-default" data-sort-dir="desc">Down</button>
        </div>
    </div>
</div>
<div class="row filters">
    <div class="col-sm-4">
        <div class="bootstrap-slider">
            <span class="filter-label">Year Range: <span class="filter-selection"></span></span>
            <b class="filter-min" style="padding-right: 10px;">1940</b> <input id="filter-weight" type="text" class="bootstrap-slider" type="text" name="start_date" data-filter-group="start_date" data-provide="slider" data-slider-min="1940" data-slider-max="2023" data-slider-step="1" data-slider-value="[1940,2023]"> <b class="filter-max" style="padding-left: 10px;">2023</b>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="bootstrap-slider">
            <span class="filter-label">Rating Range: <span class="filter-selection"></span></span>
            <b class="filter-min" style="padding-right: 10px;">0</b> <input id="filter-weight" type="text" class="bootstrap-slider" type="text" name="rating" data-filter-group="rating" data-provide="slider" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="[0,10]"> <b class="filter-max" style="padding-left: 10px;">10</b>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="bootstrap-slider">
            <span class="filter-label">Runtime Range: <span class="filter-selection"></span></span>
            <b class="filter-min" style="padding-right: 10px;">0</b> <input id="filter-weight" type="text" class="bootstrap-slider" type="text" name="runtime" data-filter-group="runtime" data-provide="slider" data-slider-min="0" data-slider-max="360" data-slider-step="1" data-slider-value="[0,360]"> <b class="filter-max" style="padding-left: 10px;">360</b>
        </div>
    </div>
</div>

{% for limitType, limitData in limits %}
<div class="row filters">
    <div class="col-sm-12">
        <div id="{{ limitType }}-label">
            <strong>{{ limitType|capitalize }}</strong>
        </div>
        <div id="{{ limitType }}-group" class="btn-group" role="group" aria-labelledby="{{ limitType }}-label" data-filter-group="{{ limitType }}">
            <button type="button" class="btn btn-sm btn-default active" data-filter="*">Any</button>
{% for limitName, limitCount in limitData %}
            <button type="button" class="btn btn-sm btn-default" data-filter=".{{ limitType }}-{{ limitName|lower|replace({' ': '-'}) }}">{{ limitName|capitalize }}</button>
{% endfor %}
        </div>
    </div>
</div>
{% endfor %}

<div id="datagrid" class="row grid" data-layout="full">
{% for id, show in shows.shows %}
    <div class="grid-item{% for type in show.genre %} genre-{{ genre|lower|replace({' ': '-'}) }}{% endfor %} classification-{{ show.classification|lower|replace({' ': '-'}) }} status-{{ show.status|lower|replace({' ': '-'}) }} year-{{ show.start_date|slice(0, 4) }}" data-name="{{ show.name }}" data-classification="{{ data.classification|lower|replace({' ': '-'}) }}" data-status="{{ data.status|lower|replace({' ': '-'}) }}" data-year="{{ show.start_date|slice(0, 4) }}">
        <div class="grid-item-content">
            <div class="thumbnail">
{% if show.image_thumb is defined %}
                <img class="source-logo" src="/images/eztv/thumbs/{{ show.image_thumb }}" width="{{ show.image_thumb_width }}" height="{{ show.image_thumb_height }}" alt="{{ show.name }}">
{% endif %}
            </div>
            <div class="caption">
{#
                <span class="source-header">
                    <span class="source-type pull-left label label-warning">{{ show.classification }}</span>
                    <span class="source-updated pull-right label label-warning">{{ show.start_date }}</span>
                </span>
                <p class="source-name"><a href="{{ app.request.basePath }}/platform/{{ data.id }}">{{ show.name }}</a></p>
                <p class="source-description">{{ show.description|raw|nl2br }}</p>
                <span class="source-footer">
                    <div class="pull-left provides-labels">
{% for genre in show.genre %}
                        <a href="{{ app.request.basePath }}/emulator/{{ genre }}"><span class="label label-primary">{{ genre }}</span>
{% endfor %}
                    </div>
                    <div class="pull-right web-links">
{% for url, text in data.web %}
{% if loop.index <= 3 %}
                        <a href="{{ url }}"><span class="badge"><img src="/images/{{ text }}.png" alt="{{ text }}"></span></a>
{% endif %}
{% endfor %}
                    </div>
                </span>
#}
            </div>
        </div>
    </div>
{% endfor %}
</div>
<table class="table table-striped table-bordered data-table" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Type</th>
            <th>Date</th>
            <th>Description</th>
            <th>Logo</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
{% for data in results %}
        <tr>
            <td><a href="{{ app.request.basePath }}/platform/{{ data.id }}">{{ data.name }}</a></td>
            <td><a href="{{ app.request.basePath }}/company/{{ data.company }}">{{ data.company }}</a></td>
            <td>{{ data.type }}</td>
            <td>{{ data.date }}</td>
            <td style="padding-top: 0px; padding-bottom: 0px; max-width: 40%;"><p style="max-height: 30px; overflow: hidden;">{{ data.description }}</p></td>
            <td style="padding-top: 0px; padding-bottom: 0px;">
{% if data.wheel is defined %}
                <img src="{{ data.wheel }}" alt="logo" style="max-height: 30px;">
{% endif %}
            </td>
            <td style="padding-top: 0px; padding-bottom: 0px;">
{% if data.photo is defined %}
                <img src="{{ data.photo }}" alt="photo" style="max-height: 30px;">
{% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
