{% extends "shared/emubase.twig" %}

{% block content %}
<form method="GET" action="{{ app.request.basePath }}/missing/{{ type }}/{{ sourceId }}">
<table class="table table-striped table-bordered data-table" style="width:100%">
    <thead>
        <tr>
            <th>Company</th>
            <th>Name</th>
            <th>Options</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
{% for data in results %}
        <tr>
            <td style="min-width: 150px;">{{ data.company }}</td>
            <td>{{ data.name }}</td>
            <td>
{% for id in closest[data.id] %}
                <div class="btn btn-xs btn-primary">
                <input type="checkbox" name="check_{{ data.id|lower|replace({' ': '_', ':': '_', '/': '_', '-': '_'}) }}[]" value="{{ id }}"> {{ source[id].company }} {{ source[id].name }}
                </div>
{% endfor %}
            </td>
            <td style="min-width: 75px;">
                <a href="{{ app.request.basePath }}/{{ singular[type] }}/{{ data.id }}" class="btn btn-xs btn-primary">View</a>
                <a href="{{ app.request.basePath }}/missing/{{ type }}/{{ sourceId }}/{{ data.id }}" class="btn btn-xs btn-primary">Edit</a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
<input type="submit" value="Update Assignments">
</form>
{% endblock %}
