{% extends "shared/moviebase.twig" %}

{% block content %}
<div class="row" style='background-image: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces{{ movie.backdrop_path }}"); background-position: right -200px top;background-size: cover;background-repeat: no-repeat;border-bottom: 1px solid rgba(2.35%, 43.53%, 84.71%, 1);'>
	<div style="background-image: linear-gradient( to right, rgb(0, 102, 204) 150px, rgba(12, 120, 228, 0.2) 100% );display: flex;justify-content: center;flex-wrap: wrap;">
		<div class="col-xs-6 col-md-4">
			<div class="poster">
				<div class="image_content backdrop">
					<img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.poster_path }}">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="header_poster_wrapper true">
				<section class="header poster" style="color: #ffffff;">
					<div class="title ott_true" dir="auto">
						<h2 class="14">
							<a href="/movie/{{ movie.id }}-101-dalmations" style="color: #ffffff;">{{ movie.title }}</a>
							<span class="tag release_date">({{ movie.release_date|slice(0,4) }})</span>
						</h2>
						<div class="facts">
							<span class="certification">
								G
							</span>
							<span class="release">
								{{ movie.release_date }} (US)
							</span>
							<span class="genres">
								{% for genre in movie.genres %}
								<a href="/genre/{{ genre.id }}-{{ genre.name }}/movie">{{ genre.name }}</a>
								{% if loop.last == false %}
								<span>,&nbsp;</span>
								{% endif %}
								{% endfor %}
							</span>
							<span class="runtime">
								{{ movie.runtime }}m
							</span>
						</div>
					</div>
					<ul class="auto actions">
						<li class="chart">
							<div class="consensus details">
								<div class="outer_ring">
									58%
								</div>
							</div>
						</li>
						<li class="video none">
							<a class="no_click play_trailer" href="#" data-site="movie.videos.results[0].site" data-id="movie.videos.results[0].key" data-title="Play {{ movie.videos.results[0].type }}"><span class="glyphicon glyphicon-play invert svg"></span> Play {{ movie.videos.results[0].type }}</a>
						</li>
					</ul>
					<div class="header_info">
						<h3 class="tagline" dir="auto">{{ movie.tagline }}.</h3>
						<h3 dir="auto">Overview</h3>
						<div class="overview" dir="auto">
							<p>{{ movie.overview }}</p>
						</div>
						<ol class="people no_image">
							<li class="profile">
								<p><a href="/person/{{ director.id }}-{{ director.name }}">{{ director.name }}</a></p>
								<p class="character">{{ director.job }}</p>
							</li>
							<li class="profile">
								<p><a href="/person/{{ screenplay.id }}-{{ screenplay.name }}">{{ screenplay.name }}</a></p>
								<p class="character">{{ screenplay.job }}</p>
							</li>
						</ol>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<hr>
	</div>
</div>

{% if fileId is not same as (false) %}
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<video id="my-player" class="video-js" controls preload="auto" data-setup='{}'>
			<source src="file.php?id={{ fileId }}" type="video/mp4"></source>
			<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
		</video>
	</div>
</div>
{% endif %}

<h2 class="sub-header">Movie Info</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field</th>
				<th>Header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Video</th>
				<td>{{ movie.video }}</td>
			</tr>
			<tr>
				<th>Budget</th>
				<td>${{ movie.budget }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ movie.status }}</td>
			</tr>
			<tr>
				<th>IMDB ID</th>
				<td>{{ movie.imdb_id }}</td>
			</tr>
			<tr>
				<th>Revenue</th>
				<td>${{ movie.revenue }}</td>
			</tr>
			<tr>
				<th>Homepage</th>
				<td>{{ movie.homepage }}</td>
			</tr>
			<tr>
				<th>Popularity</th>
				<td>{{ movie.popularity }}</td>
			</tr>
			<tr>
				<th>Vote Count</th>
				<td>{{ movie.vote_count }}</td>
			</tr>
			<tr>
				<th>Vote Average</th>
				<td>{{ movie.vote_average }}</td>
			</tr>
			<tr>
				<th>Original Language</th>
				<td>{{ movie.original_language }}</td>
			</tr>
		</tbody>
	</table>
</div>

<h2 class="sub-header">Credits</h2>
<h3 class="sub-header">Cast</h3>
<div class="row placeholders">
	{% for person in movie.credits.cast %}
	<div class="col-xs-6 col-sm-3 placeholder">
		<a href="person?id={{ person.id }}">
			<img src="https://image.tmdb.org/t/p/w138_and_h175_face{{ person.profile_path }}" width="200" height="200" class="img-responsive" alt="{{ person.name }}">
			<h4>{{ person.name }}</h4>
			<span class="text-muted">{{ person.character }}</span>
		</a>
	</div>
	{% endfor %}
</div>
<h3 class="sub-header">Crew</h3>
<div class="row placeholders">
	{% for person in movie.credits.crew %}
	<div class="col-xs-6 col-sm-3 placeholder">
		<a href="person?id={{ person.id }}">
			<img src="https://image.tmdb.org/t/p/w138_and_h175_face{{ person.profile_path }}" width="200" height="200" class="img-responsive" alt="{{ person.name }}">
			<h4>{{ person.name }}</h4>
			<span class="text-muted">{{ person.job }}</span>
			<span class="text-muted">{{ person.department }}</span>
		</a>
	</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-sm-12 col-xs-12">
		<h2 class="sub-header">Similar</h2>
	</div>
</div>
<div class="row">
	{% for video in movie.similar.results %}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a href="movie.php?id={{ video.id }}">
				<img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ video.poster_path }}" >
				<div class="caption">
					<h3>{{ video.title }}</h3>
					<p>{{ video.vote_average }}</p>
					<p>{{ video.release_date }}</p>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-sm-12 col-xs-12">
		<h2 class="sub-header">Recommendations</h2>
	</div>
</div>
<div class="row">
	{% for video in movie.recommendations.results %}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a href="movie.php?id={{ video.id }}">
				<img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ video.poster_path }}" >
				<div class="caption">
					<h3>{{ video.title }}</h3>
					<p>{{ video.vote_average }}</p>
					<p>{{ video.release_date }}</p>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-sm-8 col-md-6">
		<div class="thumbnail">
			<a href="movie.php?id={{ movie.belongs_to_collection.id }}">
				<img alt="100%x200" style="height: 200px; width: 100%; display: block;" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.belongs_to_collection.poster_path }}" >
				<div class="caption">
					<h3>{{ movie.belongs_to_collection.name }}</h3>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<pre>	
"videos": {
	"results": [
		{
			"id": "5a11117392514138e7044dbc",
			"key": "K2CTJS12RdI",
			"name": "101 Dalmatians (1996) Trailer",
			"site": "YouTube",
			"size": 480,
			"type": "Trailer",
			"iso_639_1": "en",
			"iso_3166_1": "US"
		}
	]
},
"images": {
	"posters": [],
	"backdrops": []
},
"reviews": {
	"page": 1,
	"results": [],
	"total_pages": 0,
	"total_results": 0
},
"keywords": {
	"keywords": [
		{
			"id": 212,
			"name": "london, england"
		},
	]
},
"external_ids": {
	"imdb_id": "tt0115433",
	"twitter_id": null,
	"facebook_id": null,
	"instagram_id": null
},
"release_dates": {
	"results": [
		{
			"iso_3166_1": "GB",
			"release_dates": [
				{
					"note": "",
					"type": 3,
					"iso_639_1": "",
					"release_date": "1996-12-13T00:00:00.000Z",
					"certification": "U"
				}
			]
		},
	]
},
"spoken_languages": [
	{
		"name": "English",
		"iso_639_1": "en"
	}
],
"alternative_titles": {
	"titles": [
		{
			"type": "",
			"title": "101 Dalmatiner \u2013 Diesmal sind die Hunde echt",
			"iso_3166_1": "DE"
		},
	]
},
"production_companies": [
	{
		"id": 2173,
		"name": "Great Oaks Entertainment",
		"logo_path": null,
		"origin_country": ""
	},
],
"production_countries": [
	{
		"name": "United Kingdom",
		"iso_3166_1": "GB"
	},
],
}
		</pre>
	</div>
</div>
<div class="row">
	<div class="col-md-12" id="json-view">

	</div>
</div>
{% endblock %}
