{% extends "shared/moviebase.twig" %}

{% block content %}
<div class="row" style='background-image: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/mz75dVXfen4J1Z0R8DbTenXNywz.jpg"); background-position: right -200px top;background-size: cover;background-repeat: no-repeat;border-bottom: 1px solid rgba(2.35%, 43.53%, 84.71%, 1);'>
	<div style="background-image: linear-gradient( to right, rgba(0%, 40%, 80%, 1) 150px, rgba(4.71%, 47.06%, 89.41%, 0.84) 100% );display: flex;justify-content: center;flex-wrap: wrap;">
		<div class="col-xs-6 col-md-4">
			<div class="poster">
				<div class="image_content backdrop">
					<img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/8o2ADoAyG796UwTjwBFjPyBz0yG.jpg">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="header_poster_wrapper true">
				<section class="header poster" style="color: #ffffff;">
					<div class="title ott_true" dir="auto">
						<h2 class="14">
							<a href="/movie/{{ item.id }}-101-dalmations" style="color: #ffffff;">101 Dalmatians</a>
							<span class="tag release_date">(1996)</span>
						</h2>
						<div class="facts">
							<span class="certification">
								G
							</span>
							<span class="release">
								1996-11-17 (US)
							</span>
							<span class="genres" v-for="(genre, index) in item.genres">
							{% for genre in movie.genres %}
								<a href="/genre/{{ genre.id }}-{{ genre.name }}/movie">Family</a>
								<span v-if="index == genres.length - 1">,&nbsp;</span>
							{% endfor %}
							</span>
							<span class="runtime">
								1h 43m
							</span>
						</div>
					</div>
					<ul class="auto actions">
						<li class="chart">
							<div class="consensus details">
								<div class="outer_ring">
									58%
								</div>
							</div>
						</li>
						<li class="video none">
							<a class="no_click play_trailer" href="#" :data-site="item.videos.results[0].site" :data-id="item.videos.results[0].key" data-title="Play {{ item.videos.results[0].type }}"><span class="glyphicon glyphicon-play invert svg"></span> Play {{ item.videos.results[0].type }}</a>
						</li>
					</ul>
					<div class="header_info">
						<h3 class="tagline" dir="auto">{{ item.tagline }}.</h3>
						<h3 dir="auto">Overview</h3>
						<div class="overview" dir="auto">
							<p>{{ item.overview }}</p>
						</div>
						<ol class="people no_image">
							<li class="profile">
								<p><a href="/person/{{ director.id }}-{{ director.name }}">{{ director.name }}</a></p>
								<p class="character">{{ director.job }}</p>
							</li>
							<li class="profile">
								<p><a href="/person/{{ screenplay.id }}-{{ screenplay.name }}">{{ screenplay.name }}</a></p>
								<p class="character">{{ screenplay.job }}</p>
							</li>
						</ol>
					</div>
				</section>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="" data-holder-rendered="true">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Second Line</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="" data-holder-rendered="true">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Second Line</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="" data-holder-rendered="true">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>Second Line</p>
			</div>
		</div>
	</div>
</div>

<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 placeholder">
		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
</div>

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Header</th>
				<th>Header</th>
				<th>Header</th>
				<th>Header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1,001</td>
				<td>Lorem</td>
				<td>ipsum</td>
				<td>dolor</td>
				<td>sit</td>
			</tr>
			<tr>
				<td>1,005</td>
				<td>Nulla</td>
				<td>quis</td>
				<td>sem</td>
				<td>at</td>
			</tr>
			<tr>
				<td>1,006</td>
				<td>nibh</td>
				<td>elementum</td>
				<td>imperdiet</td>
				<td>Duis</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-md-12" id="json-view">

	</div>
</div>
{% endblock %}
