{% extends "shared/emubase.twig" %}

{% block content %}
<table id="datatable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Type</th>
            <th>Year</th>
            <th>Description</th>
            <th>Logo</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
{% for data in results %}
        <tr>
            <td><a href="{{ app.request.basePath }}/platform/{{ data.id }}">{{ data.name }}</a></td>
            <td><a href="{{ app.request.basePath }}/company/{{ data.company }}">{{ data.company }}</a></td>
            <td>{{ data.type }}</td>
            <td>{{ data.date }}</td>
            <td><p style="max-height: 100px; overflow: hidden;">{{ data.description }}</p></td>
            <td>
{% if data.wheel is defined %}
                <img src="{{ data.wheel }}" alt="logo" style="max-width: 200px;max-height: 100px;">
{% endif %}
            </td>
            <td>
{% if data.photo is defined %}
                <img src="{{ data.photo }}" alt="photo" style="max-width: 200px;max-height: 100px;">
{% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
